body {
  background-color: darkcyan;
  font: normal 15pt Arial; 
}

header {
  color: white;
  text-align: center;
}

section {
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  width: 350px;
  margin: auto;
  box-shadow: 3px 5px 10px lightslategray;
}

div {
  text-align: center;
  padding: 8px;
}

footer {
  color: whitesmoke;
  text-align: center;
  font-style: italic;
}

